h2 {
  text-align: center;
  font-size: x-large;
  background-color: grey;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}
/* login heading styles */

.formlogin {
  display: grid;
  width: 20%;
  margin-left: 40%;
  margin-top: 10%;
}
/* Complete form styling */
.inputlogin {
  border: solid;
  border-color: grey;
  border-radius: 10px;
  height: 50px;
}
/* input fields styles */
.button {
  height:40px;
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
  font-size: large;
  outline: none;
  cursor: pointer;

}
.button:active {
  background-color: grey ;
  transform: translateY(1px);
}

/* signin button styles */

.userpagetable{
  margin-top: 10%;
  margin-left: 15%;
  border: 1px solid;
  text-align: left;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}
td{
  border: 1px solid;
}
th{
  background-color: grey;
  color: white;
  border: 1px solid black;
}
/* usertable styling */
.userform{
  margin-top: 2%;
  margin-left: 20%;
  
  
}
.firstnamebox{
  margin-right: 5px;
  height: 20px;
  border: 1px solid ;
  outline: none;
}
button{
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
  cursor: pointer;
}
button:active{
  border-radius: 0px;
  border: none;
  background-color: grey;
  color: white;
  cursor: pointer;
}

